{% extends 'base.html.twig' %}

{% block title %}liste des articles{% endblock %}

{% block body %}

    <h1>{{ controller_name }}</h1>
    <ul>
        <li><a href="{{url1}}">Page 1</a></li>
        <li><a href="{{url2}}">Page 2</a></li>
        <li><a href="{{url3}}">Page 3</a></li>
    </ul>
{% endblock %}
